<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>782284387265-nfbnp9iue9obsddlssuvmrsdvf6j9342.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.782284387265-nfbnp9iue9obsddlssuvmrsdvf6j9342</string>
	<key>API_KEY</key>
	<string>AIzaSyAQQ9MHEqajYc5T3uEKD8sQH2-jyF53FLA</string>
	<key>GCM_SENDER_ID</key>
	<string>782284387265</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.company.jplearning</string>
	<key>PROJECT_ID</key>
	<string>jplearning-fb5cc</string>
	<key>STORAGE_BUCKET</key>
	<string>jplearning-fb5cc.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:782284387265:ios:c55f5022592a5d45267540</string>
</dict>
</plist>